openapi: 3.1.0

#
# INFO
#
info:
  title: GlowCalendar
  description: |-
    GlowCalendar API Docs
  version: 0.0.1-SNAPSHOT
  
#
# SERVERS
#
servers:
  - url: 'https://api.glowcalendar.cfd/api/v1'
  
#
# ROUTES
#
paths:

  #
  # SESSIONS
  #

  /sessions:
    
    parameters:
      - $ref: '#/components/parameters/QueryLimitParam'
      - $ref: '#/components/parameters/QueryOffsetParam'

    # Retrieve session information.
    get:

      summary: "Get current session information."
      tags:
        - Sessions
      
      responses:
        200:
          description: Operation success
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"

    # Create a new session.
    post:
      summary: "Create a new session."
      tags:
        - Sessions
      
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  examples: 
                    - "balamutmaks@gmail.com"
                password:
                  type: string
                  examples: 
                    - "password"
      
      security: []
      
      responses:
        201:
          description: Login success
          headers:
            Set-Cookie:
              description: "Session cookie"
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Session"
        403:
          description: Authentication error (incorrect credentials)

  
  # Invalidate user's session.
  /sessions/{sessionId}:

    parameters:
      - $ref: '#/components/parameters/SessionIdParam'

    delete:
      summary: "Invalidate user's session."

      tags:
        - Sessions
      
      responses:
        401:
          $ref: '#/components/responses/UnauthorizedError'
        202:
          description: Successfully invalidated user's session.
    

  #
  # USERS
  #

  # Create a new user.
  /users:
    post:
      
      summary: Create a new user.
      tags:
        - Users
      
      security: []
      
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [displayName, email, password]
              properties:
                displayName:
                  type: string
                  examples:
                    - "Тарас Шевенко"
                email:
                  type: string
                  examples: 
                    - "survivalboomnetwork@gmail.com"
                password:
                  type: string
                  examples: 
                    - "MySuperPassword228*"
      
      responses:
        200:
          description: "Registration successful."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
        400:
          description: Registration failed with an error
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    enum:
                      - EMAIL_TAKEN
                    examples:
                    - "EMAIL_TAKEN"
                  message:
                    type: string
                    examples: 
                      - "Email is already taken"

  # Get an user information.
  /users/{userId}:

    parameters:
      - $ref: "#/components/parameters/UserIdParam"
    
    get:
      summary: "Get user information."
      description: "This endpoint is used to retrieve user information, including the “your account” page of the users themselves where sensitive user data is located. Backend determines whose Session was sent in the request and gives full information, such as email, about the user if the Session belongs to this user, if not it gives partial information about the user containing only userName and avatarUrl."

      tags:
        - Users
      
      responses:
        401:
          $ref: '#/components/responses/UnauthorizedError'
        200:
          description: Successfully received an user information.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"

    # Delete an user.
    delete:
      summary: "Delete user."
      description: "This endpoint is used in most cases to delete a user account by the user. If some jerk tries to delete another user, he will get a 401 error because Backend will see that the Session provided in the request belongs to another user. However, the admin users of the platform bypass this check and can delete anyone they want."

      tags:
        - Users

      responses:
        401:
          $ref: '#/components/responses/UnauthorizedError'
        202:
          description: Successfully deleted an user.


  # Retrieve user's sessions.
  /users/{userId}/sessions:

    parameters:
      - $ref: "#/components/parameters/UserIdParam"

    get:
      summary: "Retrieve user's currently active sessions."

      tags:
        - Users

      responses:
        401:
          $ref: '#/components/responses/UnauthorizedError'
        200:
          description: Successfully received a list of classrooms.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/Session"

  #
  # INVITES
  #

  # Get a list of all user's invitations.
  /invitations:

    parameters:
      - $ref: '#/components/parameters/QueryLimitParam'
      - $ref: '#/components/parameters/QueryOffsetParam'

    get:
      summary: "Get a list of all user's invitations."
      tags:
        - Invitations
      responses:
        401:
          $ref: '#/components/responses/UnauthorizedError'
        200:
          description: Successfull operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Invitation'

  /invitations/{invitationId}:

    parameters:
      - $ref: "#/components/parameters/InvitationIdParam"

    # Get an invitation information.
    get:
      summary: "Get an invitation information."
      tags:
        - Invitations

      responses:
        401:
          $ref: '#/components/responses/UnauthorizedError'
        200:
          description: Successfull operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invitation'

    # Cancel an invitation.
    delete:
      summary: "Cancel an invitation by id."
      tags:
        - Invitations
      
      responses:
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          description: An invitation with provided id does not exist.
        202:
          description: Successfully cancelled an invitation.
    
    patch:
      summary: "Update invitation status"
      tags:
        - Invitations

      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action:
                  type: string
                  enum:
                    - accept
                    - decline
                  examples:
                    - accept
        
      responses:
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          description: An invitation with provided id does not exist.
        400:
          description: Invalid action.
        202:
          description: Operation success.
    

          


  #
  # CLASSROOMS
  #

  # Get a list of all classes where the user is.
  /classrooms:
    get:
      summary: "Get a list of all classes where the user is."
      tags:
        - Classrooms

      responses:
        401:
          $ref: '#/components/responses/UnauthorizedError'
        200:
          description: Successfull operation.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Classroom'

    # Create a new classroom.
    post:
      summary: "Create a new classroom."
      tags: 
        - Classrooms
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [displayName]
              properties:
                displayName:
                  type: string
                  examples:
                    - "Школа Абобусів 6Б - Інформатика"
      responses:
        401:
          $ref: '#/components/responses/UnauthorizedError'
        201:
          description: Successfully created a new classroom.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Classroom'

  /classrooms/{classroomId}:

    parameters:
      - $ref: "#/components/parameters/ClassroomIdParam"

    # Get classroom information.
    get:
      summary: "Get classroom information"
      tags:
        - Classrooms

      responses:
        401:
          $ref: '#/components/responses/UnauthorizedError'
        200:
          description: Successfull operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Classroom'

    # Delete a classroom.
    delete:
      summary: "Delete a classroom by id."
      tags:
        - Classrooms
                  
      responses:
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          description: A classroom with provided id does not exist.
        202:
          description: Successfully deleted a classroom.

    # Edit a classroom.
    put:
      summary: "Edit a classroom by id."
      tags:
        - Classrooms
      
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [displayName]
              properties:
                displayName:
                  type: string
                  examples: 
                    - Школа малолітніх дебілів.

      responses:
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          description: A classroom with provided id does not exist.
        202:
          description: Successfully edited a classroom.
  
  # Retrieve all members in the classroom.
  /classrooms/{classroomId}/members:

    parameters:
      - $ref: '#/components/parameters/ClassroomIdParam'
      - $ref: '#/components/parameters/QueryLimitParam'
      - $ref: '#/components/parameters/QueryOffsetParam'

    get:
      summary: "Retrieve all members in the classroom."
      tags:
        - Classrooms
      
      responses:
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          description: A classroom or a user with provided id does not exist.
        200:
          description: Operation success.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: integer
                  format: int64
                  description: userId of the members
                  examples:
                    - 3455465467756

  # Invite a new user to a classroom.
  /classrooms/{classroomId}/members/{userId}:

    parameters:
      - $ref: '#/components/parameters/ClassroomIdParam'
      - $ref: '#/components/parameters/UserIdParam'

    post:
      summary: "Invite a new user to a classroom."
      tags:
        - Classrooms
      
      responses:
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          description: A classroom or a user with provided id does not exist.
        201:
          description: Successfully invited a user to a classroom.

    # Kick a member from a classroom.
    delete:
      summary: "Kick a member from a classroom"
      tags:
        - Classrooms
      
      responses:
        401:
          $ref: '#/components/responses/UnauthorizedError'
        404:
          description: A classroom or a user with provided id does not exist.
        202:
          description: Successfully kicked member from a classroom.
    
            


#
# COMPONENTS
#
components:

  parameters:

    QueryLimitParam:
      name: limit
      in: query
      description: Max items to return
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

    QueryOffsetParam:
      name: offset
      in: query
      description: Number of items to skip
      schema:
        type: integer
        minimum: 0
        default: 0

    SessionIdParam:
      name: sessionId
      in: path
      required: true
      description: ID of the classroom
      schema:
        type: integer
        format: int64

    ClassroomIdParam:
      name: classroomId
      in: path
      required: true
      description: ID of the session
      schema:
        type: integer
        format: int64

    UserIdParam:
      name: userId
      in: path
      required: true
      description: ID of the user
      schema:
        type: integer
        format: int64

    InvitationIdParam:
      name: invitationId
      in: path
      required: true
      description: ID of the invitation
      schema:
        type: integer
        format: int64

  schemas:

    User:
      type: object
      required: [id, email, displayName, avatarUrl]
      properties:
        id:
          description: The id of the user
          type: integer
          format: int64
          examples: 
            - 34534534
        email:
          description: The email of the user
          type: string
          examples:
            - superduperuser@mymail.com
        displayName:
          description: The display name of the user
          type: string
          examples:
            - Тарас Шевченко
        avatarUrl:
          description: The url of user's avatar
          type: string
          examples:
            - https://cdn.glowcalendar.cfd/2304857938465923
          
    Classroom:
      type: object
      required: [id, displayName, ownerId]
      properties:
        id:
          description: The id of the classroom in the system
          type: integer
          format: int64
          examples:
            - 34556546547356
        displayName:
          description: The display name of the classroom
          type: string
          examples:
            - Захист відчизни - 6Б
        ownerId:
          description: The user id of the classroom owner 
          type: integer
          format: int64
    
    Session:
      type: object
      required: [id, userId, lastLoginTime, ipAddress, lastLoginDevice]
      properties:
        id:
          description: The id of the session
          type: integer
          format: int64
          examples:
            - 235345343453
        userId:
          description: The id of the user linked to this session
          type: integer
          format: int64
          examples:
            - 234234235435
        lastLoginTime:
          description: Last time when this session was used
          type: integer
          format: int64
          examples:
            - 1743841467
        ipAddress:
          description: The ip address of this session
          type: string
          examples:
            - "178.54.34.12"
        lastLoginDevice:
          type: string
          examples:
            - Firefox XXX/Linux XXX

    Invitation:
      type: object
      required: [id, type, targetId]
      properties:
        id:
          description: The id of the invitation
          type: integer
          format: int64
          examples:
            - 4238648236842
        type:
          description: The type of the invitation
          type: string
          examples:
            - CLASSROOM
            - FRIEND
        targetId:
          description: The id of the invitation target. Could be an user id (friend request) or a classroom id (classroom invitation)

  #
  # REQUESTS
  #
  # requestBodies:
  
    
  #
  # RESPONSES
  #
  responses:

    UnauthorizedError:
       description: Session is expired or not presented.
  
  #
  # SECURITY
  #
  securitySchemes:
    cookieAuthentication:
      type: apiKey
      in: cookie
      name: SESSION
      
      
security:
  - cookieAuthentication: []

  
